<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19D76</string>
	<key>BuildTime</key>
	<string>Fri Sep 18 18:28:52 KST 2020</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LINE WORKS</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Public Supported File Types</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.jpg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>LineWorks</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Works60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon-Works</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Works60x60</string>
				<string>AppIcon-Works76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon-Works</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.nhncorp.worksone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LINE WORKS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.2776479566-dk3fvg2djh16h30d03d15ehkgj76l4lb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nhncorp.worksone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>worksone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nhncorp.worksone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lineworks</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nhncorp.worksone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.com.nhncorp.worksone</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.9.5.0</string>
	<key>DTAppStoreToolsBuild</key>
	<string>12A7207</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C504</string>
	<key>DynamicLinkHost</key>
	<string>lineworks.page.link</string>
	<key>GITHash</key>
	<string>4ab828c276</string>
	<key>GITInfo</key>
	<string>production-4ab828c276</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>KeyChain-AccessGroup</key>
	<string>45TN997Y6L.com.nhncorp.KeychainSuite</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lineworks</string>
		<string>worksone</string>
		<string>junospulse</string>
		<string>ttsapp</string>
		<string>worksoffice</string>
		<string>line</string>
		<string>lineauth2</string>
		<string>line3rdp.com.nhncorp.worksone</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1577083126</string>
	</dict>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>naver.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow "LINE WORKS" to access Bluetooth to use nearby Bluetooth devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow "LINE WORKS" to access your camera to take a photo or video.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow "LINE WORKS" to access your Contacts to share the contact information.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow "LINE WORKS" to access your location services to share the location, attach a map and to check the weather.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow "LINE WORKS" to access the microphone to make a voice/video call.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow "LINE WORKS" to access your photos to attach a photo or video.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INStartVideoCallIntent</string>
	</array>
	<key>Shared-AppGroup</key>
	<string>group.com.nhncorp.worksapps</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>WOSplashView</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,3</string>
		<string>iPhone10,5</string>
		<string>iPhone10,6</string>
		<string>iPhone11,2</string>
		<string>iPhone11,4</string>
		<string>iPhone11,6</string>
		<string>iPhone12,3</string>
		<string>iPhone12,5</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>URLScheme</key>
	<string>lineworks</string>
	<key>UniversalLinkHost</key>
	<string>line.worksmobile.com</string>
</dict>
</plist>
